/web-common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/web-common/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/web-common/target/maven-archiver/pom.properties
/web-common/target/web-common-1.0-SNAPSHOT.jar
/web-common/target/web-common-1.0-SNAPSHOT-sources.jar


/*/src/main/resources/*.properties
./.idea
/*/.mvn/*